<!DOCTYPE html>
<html>
<head>
    <title>Behaviour</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <!--nav bar-->
        <nav class="nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href='/<%= user.email %>/home'><img src="http://127.0.0.1:3000/images/logo.jpeg" height="30" witdth="30"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='/<%= user.email %>/profile'><img src="data:image/png;base64,<%= user.image%>" height="30" width="30" /></a></li>
                        <li><a href='/logout'>Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--main content-->
        <div class="jumbotron">
            <p>IP: <%= ip%></p>
            <p>Device: <%= device%></p>
            <p>Location: <%= location%></p>
        </div>
    </div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>