<!DOCTYPE html>
<html>
<head>

    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/book.js"></script>

</head>
<body>
    <div class="container">
        <!--nav bar-->
        <nav class="nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href='/<%= user.email %>/home'><img src="http://127.0.0.1:3000/images/logo.jpeg" height="30" witdth="30"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='/<%= user.email %>/profile'><img src="data:image/png;base64,<%= user.image%>" height="30" width="30" /></a></li>
                        <li><a href='/logout'>Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <p id="bookId" hidden><%= book.id%></p>
        <p id="email" hidden><%= user.email%></p>
        <!--main content-->
        <div class="jumbotron">
            <p>Title: <%= book.title%></p>
            <p>Author: <%= book.author%></p>
            <p>Description: <%= book.description%></p>
            <p>Rate: <%= book.rate.toFixed(1)%></p>
            <% if(user) { %>
            <a class="btn btn-lg btn-primary" id="borrow">
                Borrow
            </a>
            <% } %>
        </div>
        <div class="btn pull-right">
          <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Fliter
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a id="rated">Rate Descending</a></li>
            <li><a id="ratea">Rate Ascending</a></li>
            <li class="divider"></li>
            <li><a id="timed">Time Descending</a></li>
            <li><a id="timea">Time Ascending</a></li>
          </ul>
        </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                  <th>User</th>
                  <th>Comment</th>
                  <th>Rate</th>
                  <th>Time</th>
                </tr>
            </thead>
            <tbody id="t_timed">
                <% for(var i=0; i < book_timed.length; i++) {%>
                <tr>
                  <td><a href="/<%= book_timed[i].email %>/profile"><%= book_timed[i].email %></a> </td>
                  <td><%= book_timed[i].body %></td>
                  <td><%= book_timed[i].rate %></td>
                  <td><%= book_timed[i].date%></td>
                </tr>
                <% } %>
            </tbody>
            <tbody id="t_timea" hidden>
                <% for(var i=0; i < book_timea.length; i++) {%>
                <tr>
                  <td><a href="/<%= book_timea[i].email %>/profile"><%= book_timea[i].email %></a> </td>
                  <td><%= book_timea[i].body %></td>
                  <td><%= book_timea[i].rate %></td>
                  <td><%= book_timea[i].date%></td>
                </tr>
                <% } %>
            </tbody>
            <tbody id="t_ratea" hidden>
                <% for(var i=0; i < book_ratea.length; i++) {%>
                <tr>
                  <td><a href="/<%= book_ratea[i].email %>/profile"><%= book_ratea[i].email %></a> </td>
                  <td><%= book_ratea[i].body %></td>
                  <td><%= book_ratea[i].rate %></td>
                  <td><%= book_ratea[i].date%></td>
                </tr>
                <% } %>
            </tbody>
            <tbody id="t_rated" hidden>
                <% for(var i=0; i < book_rated.length; i++) {%>
                <tr>
                  <td><a href="/<%= book_rated[i].email %>/profile"><%= book_rated[i].email %></a> </td>
                  <td><%= book_rated[i].body %></td>
                  <td><%= book_rated[i].rate %></td>
                  <td><%= book_rated[i].date%></td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <p>
            <% if(user) { %>
              <label>Rate: </label>
            <select id="rate">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br />
            <h4>Comments: </h4>
            <textarea rows="4" cols="50" id="body"></textarea>
            <br />
            <a class="btn btn-lg btn-primary" id="comment">
                Add comment
            </a>
            <% } %>
        </p>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>
