<!DOCTYPE html>
<html>
<head>

    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/book.js"></script>

</head>
<body>
    <div class="container">
        <!--nav bar-->
        <nav class="nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href='/<%= user.email %>/home'><img src="http://127.0.0.1:3000/images/logo.jpeg" height="30" witdth="30"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href='/<%= user.email %>/message'>Message</a></li>
                        <li><a href='/<%= user.email %>/library'>Library</a></li>
                        <li><a href='/<%= user.email %>/share'>Share</a></li>
                        <li><a href='/<%= user.email %>/profile'><img src="data:image/png;base64,<%= user.image%>" height="30" width="30" /></a></li>
                        <li><a href='/logout'>Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <p id="bookId" hidden><%= book.id%></p>
        <p id="email" hidden><%= user.email%></p>
        <!--main content-->
        <div class="jumbotron">

            <p>Title: <%= book.title%></p>
            <p>Author: <%= book.author%></p>
            <p>Description: <%= book.description%></p>
            <p>Owner: 
                <%if (book.owner == user.email) {%>
                    <b>This is your book</b>
                <% } else { %>
                    <a href='/<%= book.owner %>/profile'>
                        <%= book.owner%>
                    </a>
                <% } %>
            </p>
            <p>Rate: <%= book.rate.toFixed(1)%></p>
            <% if(user && user.email != book.owner && book.holder != user.email && !book.borrowed) { %>
                <a class="btn btn-lg btn-primary" id="borrow">
                    Borrow
                </a>
            <% } else if (book.holder == user.email && book.borrowed) {%>
                <a class="btn btn-lg btn-primary" id="return">
                    Return
                </a>
            <% } else if (book.borrowed) {%>
                <p>Held by: <%= book.holder%></p>
            <% } %>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Comment</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < book.comments.length; i++) {%>
                <tr><td><a href="/<%= book.comments[i].email %>/profile"><%= book.comments[i].email %></a> </td> <td><%= book.comments[i].body %></td><td><%= book.comments[i].rate %></td></tr>
                <% } %>
            </tbody>
        </table>

        <p>
            <% if(user) { %>
              <label>Rate: </label>
            <select id="rate">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br />
            <h4>Comments: </h4>
            <textarea rows="4" cols="50" id="body"></textarea>
            <br />
            <a class="btn btn-lg btn-primary" id="comment">
                Add comment
            </a>
            <% } %>
        </p>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>
