<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style type="text/css">
        .table {
            max-width: 900px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
        }
        #tableHeader {
            text-align: center;
        }
    </style>
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/home.js"></script>
</head>
<body>
    <div class="container">
        <!--nav bar-->
        <nav class="nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href='/<%= user.email %>/home'><img src="http://127.0.0.1:3000/images/logo.jpeg" height="30" witdth="30"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='/<%= user.email %>/message'>Message</a></li>
                        <li><a href='/<%= user.email %>/library'>Library</a></li>
                        <li><a href='/<%= user.email %>/share'>Share</a></li>
                        <li><a href='/<%= user.email %>/profile'><img src="data:image/png;base64,<%= user.image%>" height="30" width="30" /></a></li>
                        <li><a href='/logout'>Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 align="middle">Welcome <%= user.display_name %></h1>
        <br />
        <br />
        <h3 id="tableHeader">
        Suggested books for you
        </h3>
        <!--user table-->
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < books.length; i++) {%>
                <tr><td><a href="/book/<%= books[i].id %>"><%= books[i].title %></a> </td> <td><%= books[i].author %></td></tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>