<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:3000/javascripts/share.js"></script>

</head>
<body>
    <div class="container">
        <!--nav bar-->
        <nav class="nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href='/<%= user.email %>/home'><img src="http://127.0.0.1:3000/images/logo.jpeg" height="30" witdth="30"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='/<%= user.email %>/message'>Message</a></li>
                        <li><a href='/<%= user.email %>/library'>Library</a></li>
                        <li><a href='/<%= user.email %>/share'>Share</a></li>
                        <li><a href='/<%= user.email %>/profile'><img src="data:image/png;base64,<%= user.image%>" height="30" width="30" /></a></li>
                        <li><a href='/logout'>Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--main content-->
        <div class="jumbotron">
            <h2>
                Share a book
            </h2>
            <br>
            <form id="upload" method = "post" enctype="multipart/form-data" action="/<%= email%>/share">
                <fieldset>
                    <legend>Upload picture</legend>
                    <input type="file" name="picture" class="btn">
                    <legend>Book info</legend>
                    <label>Title:</label>
                    <input name="title" type="text"><br />
                    <label>Author:</label>
                    <input name="author" type="text"><br />
                    <label>Description:</label>
                    <input name="description" type="text"><br />
                    <label>Favourite Catalogue of Books:</label>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 0>Art</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 1>Classics</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 2>Comics</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 3>Fantasy</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 4>History</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 5>Philosophy</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 6>Humor and Comedy</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 7>Romance</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 8>Science Fiction</label>
                    </div>
                    <div class="radio">
                      <label><input name="selector" type="radio" value= 9>Other</label>
                    </div>
                    <input type="submit">
                    <br/>
                </fieldset>
            </form>
        </div>
    </div>
    <p id="email" hidden><%= user.email %></p>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>
